@import '~src/variables';

@mixin setStyle ($color) {
	$base-color: $color;
	
	&:before{
		content: "";
		background: $gray;
		border-radius: 3px;
		width: 20px;
		height: 20px;
		display: block;
		position: absolute;
		z-index: 0;
	}

	&:hover{
		&:before{
			background: $gray-hover;
		}
	}

	input {
		display:none;
	}

	i{
		position: absolute;
		left: 0;
		transition: .1s;
	}

	i.checked{
		color: $base-color;
		opacity: 0;
	}

	i.indeterminate{
		opacity: 0;
		color: $gray-dark;
	}

	i.unchecked{
		opacity: 1;
		color: $gray;
	}

	&.checked {
		i.checked{
			opacity: 1;
		}
		i.unchecked{
			opacity: 0;
		}
		i.indeterminate{
			opacity: 0;
		}
	}

	&.indeterminate{
		i.checked{
			opacity: 0;
		}
		i.unchecked{
			opacity: 0;
		}
		i.indeterminate{
			opacity: 1;
		}

		&.checked{
			i.indeterminate{
				color: $base-color;
			}
		}
	}

	&.disabled i {
		color: $gray;
	}	

	& > label{
		display: flex;
		align-items: center;
		padding-left: 30px;

		.children{
			flex: 1 0 0;
		}
	}

	.status-check{
		position: relative;

		&.checkbox-self{
			z-index: 2;
			margin-left: 3px;
		}

		&.checkbox-children{
			z-index: 1;
			margin-left: 9px;
		}

		i{
			fill: transparent;
			stroke: transparent;
			stroke-width: 1;
			paint-order: stroke;
			z-index: 1;

			svg{
				width: 16px;
				height: auto;
			}
		}

		&.checked {
			i{
				fill: $base-color;
				stroke: $base-color;
			}
		}

		&.indeterminate {
			i{
				opacity: 1;
				fill: $gray-dark;
				stroke: $gray-dark;
			}
		}
	}
}

.custom-checkbox {
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	height: 20px;
	width: 25px;

	@include setStyle($brand-success);

	&.remove{
		@include setStyle($brand-danger);
	}
	
}
