@import '~src/variables';

.context-menu{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 5;
    box-shadow: 0 0 15px $gray-dark;
    border-radius: 3px;
    width: 300px;
    padding-top: 10px;
    overflow: visible !important;

    &:before{
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 7px solid white;
        position: absolute;
        top: -5px;
        left: 8px;
    }

    li.context-menu-item{
        font-size: small;
        line-height: 1.1;
        min-height: 30px;
        border-bottom: 1px solid $gray-light;
        display: flex;
        align-items: center;
        padding: 5px;
        padding-left: 5px;
        padding-right: 10px;

        &:hover{
            background: $gray-light;
        }
        
        &:last-child{
            border-bottom: none;
        }

        & > *{
            padding-left: 5px;
        }

        .context-menu-item-icon{
            width: 60px;
        }

        .context-menu-item-title{
            width:100%
        }

        .context-menu-item-shortcut{
            width: 100px;
            font-family: monospace;
            font-size: x-small;
        }
    }
}