@import '~src/variables';

.filtered-virtualized-tree{
	.head{
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 1px;
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid $gray;
		background: white;
	}

	.filter-box{
		display: flex;
		align-items: center;

		.badge.counter{
			margin-left: 10px;

			&:empty{
				display: none
			}
		}
	}
	
	.search-box{
		max-width: 300px;
		.form-group {
			margin-bottom: 0px;
		}
	}

	.other-filters{
		flex: auto;
	}


}


.filtered-virtualized-tree.window-scroll{
	.fixed{
		.head{
			border-bottom: none;
			box-shadow: 1px 4px 8px 2px white;
			width: 100%;

			.toggle-all-button{
				right: 15px;
			}

			.other-filters{
				right: 130px;
			}
		}
	}
}